<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Chat App</h1>

    <ul id="messages"></ul>
    <form id="form" action="">
    <input id="input" type="text" placeholder="Write your message here...">
    <button type="submit">Send</button>
    </form>


    <script src="/socket.io/socket.io.js"></script>

    <script>
      const socket = io();

      const form = document.getElementById('form');
      const input = document.getElementById('input');

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        socket.emit('chat message', input.value);
        input.value = '';
      });

      socket.on('chat message', (msg) => {
      const item = document.createElement('li');
      item.textContent = msg;
      messages.appendChild(item);
    });

    </script>
    
  </body>
</html>
