<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <fieldset>  
        <legend> Get vs Post</legend>
            <form action="/user" method="GET">
                <label  for="name">Name:-</label>
                <input   name="name" type="text" placeholder=" name" id="name"/>

                <br>
                <br>

                <label  for="email">Email:-</label>
                <input   name="email" type="email" placeholder="email" id="email"/>

                <br>
                <br>

                <label for="pass">Password:-</label>
                <input   name="password" id="pass" type="password" placeholder="password"/>

                <br>
                <br>

            <button type="submit">Submit</button>
            </form>
    </fieldset>


 
    <br> <br>



    <fieldset>  
        <legend> Get vs Post</legend>
            <form action="/user" method="POST">
                <label  for="name">Name:-</label>
                <input   name="name" type="text" placeholder=" name" id="name"/>

                <br>
                <br>

                <label  for="email">Email:-</label>
                <input   name="email" type="email" placeholder="email" id="email"/>

                <br>
                <br>

                <label for="pass">Password:-</label>
                <input   name="password" id="pass" type="password" placeholder="password"/>

                <br>
                <br>

            <button type="submit">Submit</button>
            </form>
    </fieldset>

</body>
</html>